@model MyDeal.Models.Customer

@{
    ViewBag.Title = "Phofile";
}
<div>
    <h4>About YourSelf</h4>
    <hr />
    <dl >
        <dd>            
            <img src="/Image/Customer/@Url.Content(Model.ImageName)" height="100" width="120" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>

<p>
    <a href="/CustomerInfo/Edit?id=@Model.Id" class="btn btn-outline-success my-2 my-sm-0">Edit</a>
    <a href="/CustomerInfo/MyBids?id=@Model.Id" class="btn btn-outline-success my-2 my-sm-0">MyBids</a>
</p>
