@model IEnumerable<MyDeal.Models.BidsInformation.Bids>

@{
    ViewBag.Title = "MyBids";
}

@if (!Model.Any())
{
    <p class="nobided">Sorry No Product do you Bids.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidsPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidsTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidsEndDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidsPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidsTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidsEndDate)
            </td>
            <td>
                @{
                    var disable = item.BidsEndDate <= DateTime.Now ? "disabled" : "";
                    var title = item.BidsEndDate <= DateTime.Now ? "End the Bids time" : "";
                }

                @using (Html.BeginForm("Delete", "CustomerInfo", FormMethod.Post))
                {
                    <input type="hidden" name="CustomerId" value="@item.CustomerId" />
                    <input type="hidden" name="ProductId" value="@item.ProductId" />
                    <input type="submit" name="WithDrow" @disable  title="@title" value="Cancel Bid" />
                }
            </td>
        </tr>
}

    </table>
}

