@model MyDeal.Models.Product

@{
    ViewBag.Title = "Product Details";
}
<div class="mb-3"></div>
<h2>Product Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal"> 
        <dd>
            <img src="/Image/@Url.Content(Model.ImageName)" height="100" width="120" />
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Actual Price</th>
            <th>Current Price</th>
            <th>Bids End Date</th>
        </tr>
    </thead>
    <tbody class="bg-info">
        <tr>
            <td>@Model.ActualPrice</td>
            <td>@Model.CurrentPrice</td>
            <td>@Model.BidEndDate</td>
        </tr>
    </tbody>
</table>

<div class="form-group">
    <a href="/admin/Product" class="btn btn-outline-success my-2 my-sm-0">Back to Products</a>
</div>

