@model IEnumerable<MyDeal.Models.BidsInformation.Bids>

@{
    ViewBag.Title = "All Biders";
}

<div class="mb-3"></div>
<h2>All Biders</h2>


<table class="table">
    <tr>
        <th>
            Biders Name
        </th>
        <th>
            Product Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidsPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidsTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/admin/DashBoard/CustomerDetails?id=@item.CustomerId">@item.Customer.FirstName @item.Customer.LastName</a>
        </td>
        <td>
            <a href="/admin/Product/ProductDetails?id=@item.ProductId">@item.Product.Title</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidsPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidsTime)
        </td>
    </tr>
}

</table>
