@model IEnumerable<MyDeal.Models.Product>

@{
    ViewBag.Title = "Index";
}
@Html.Action("Index", "WelcomeSlider")

<div class="container">

    <div class="row">

        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100 text-center">
                    <a href="#"><img src="/Image/@Url.Content(product.ImageName)" height="160" width="170" /></a>                    
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@product.Title</a>
                        </h4>
                        <h6>Tk. @product.ActualPrice</h6>
                        <h6>Bits @product.TotalBids</h6>
                        @Html.ActionLink("Details", "ProductDetails", new { id = product.Id })
                    </div>
                    @*<div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>*@
                </div>
            </div>
        }

    </div>
    <!-- /.row -->

</div>

