@model MyDeal.Models.Product

@{
    ViewBag.Title = "Product Details";
}


<div class="container">
    <div class="row">

        <div class="col-xl-1">
        </div>
        <div class="col-xl-5">
            <div class="mb-3"></div>
            <img src="/Image/@Url.Content(Model.ImageName)" id="image" height="200" width="350" />
        </div>
        <div class="col-xl-6">
            <div class="mb-3"></div>
            <h5>@Model.Title</h5>
            <hr />
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h6>Actual Price : <span class="takaicon">&#2547;</span>@Model.ActualPrice</h6></li>
                    <li class="list-group-item"><h6>Current Price : <span class="takaicon">&#2547;</span>@Model.CurrentPrice </h6></li>
                    <li class="list-group-item"><h6>Bids End : @Model.BidEndDate </h6></li>
                </ul>
            </div>
            <div class="mb-3"></div>
            <div>
                @{
                    var id = Model.Id;
                    var customer = Session["id"];
                }

                @using (Html.BeginForm("AddBids", "Bids", FormMethod.Post))
                {
                    <div class="form-check-inline">
                        <input type="hidden" name="ProductId" value="@id" />
                        <input type="hidden" name="CustomerId" value="@customer" />
                        <input class="form-control mr-sm-2" type="number" placeholder="Enter maximum Bids" required name="BidsPrice" aria-label="Search">
                        <input type="submit" name="submit" value="bids" class="btn btn-outline-success my-2 my-sm-0" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="mb-3"></div>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="desc nav-link " href="#">Description</a>
            </li>
            <li class="nav-item">
                <a class="allbider nav-link" href="#">All Bider</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
    <div class=" text-Area card-body">
        <p>
            @Html.Raw(Model.Description)
        </p>
    </div>
</div>
<div class="mb-3"></div>
<div class="card">
    <div class="card-header">
        Product Reviews
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            @Html.Action("GetAllComment", "Bids", new { ProductId = Model.Id })
        </blockquote>
        @using (Html.BeginForm("Comment", "Bids", FormMethod.Post))
        {
            <form>
                <div class="form-group">
                    <input type="hidden" name="ProductId" value="@id" />
                    <input type="hidden" name="CustomerId" value="@customer" />
                    <label for="exampleFormControlTextarea1">Write Comment</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="CommentText" placeholder="comment here" rows="3"></textarea>
                </div>
                <input type="submit" name="submit" value="Comment" class="btn btn-outline-success my-2 my-sm-0" />
            </form>
        }
    </div>
</div>
<div class="mb-3"></div>
<script>
    /////////////////////////
    //////get description////
    ///////////////////////
    $(".desc").click(
        function () {
            $.ajax({
                url: "/Shop/ProductDecription?id=@Model.Id",
                method: "get"
            }).done(function (response) {
                $(".text-Area").html(response);
            });
        });
    ///////////////////////
    //////get all bider////
    ///////////////////////
    $(".allbider").click(
        function () {
            $.ajax({
                url: "/Bids/GetAllBiders?ProductId=@Model.Id",
                method: "get"
            }).done(function (response) {
                $(".text-Area").html(response);
            });
        });
</script>
