<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyDeal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="hedpad  col-xl-8">
                <i class="fa fa-shopping-bag fa-3x" aria-hidden="true">
                    <a href="/Shop/Index">MyDeal</a>
                </i>
            </div>
            <div class="headright col-xl-4">
                <div class="headRightTop">
                    <a href="#">SignIn</a>
                    <a href="#">Create Account</a>
                    <a href="#">Help</a>
                    <a href="#">@DateTime.Now.Hour : @DateTime.Now.Minute</a>
                </div>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>

    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">  
                <ul class="navbar-nav nav-item">
                    <li><a href="/Shop/Index" class="nav-link">Home</a></li>
                </ul>
                <ul class="navbar-nav nav-item">
                    @Html.Action("pageMenuPartial", "Pages")
                </ul>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MyDeal</p>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
