<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyDeal.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="TopHeader col-lg-12 text-right">
                @if (Session["CustomerUserName"] != null)
                {
                    <a href="#" class="float-right">Sign In</a>
                    <a href="#">Create Account</a>
                }
                else
                {
                    <a href="/CustomerAuthentication/LogIn">Sign In</a>
                    <a href="/CustomerAuthentication/Registration">Create Account</a>
                }
                <a href="#">Help</a>  
                <a href="#">@DateTime.Now.ToString("HH:mm:ss tt")</a>
            </div>
            <div class="hedpad  col-xl-8">
                <i class="fa fa-shopping-bag fa-3x" aria-hidden="true">
                    <a href="/Shop/Index">MyDeal.com</a>
                </i>
            </div>
            <div class="headright col-xl-4">               
                <form action="/Shop/SearchCategory" method="get">
                    <input id="Searching" name="Searching" type="text" value="" placeholder="search with category" aria-label="Search">
                    <input type="submit" name="name" value="Search" class="btn btn-outline-success" />
                </form>
            </div>
        </div>

    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-item float-left">
                    @Html.Action("pageMenuPartial", "Pages")
                </ul>
                <ul class="navbar-nav nav-item">
                    @Html.Action("CategoryMenu", "Shop")
                </ul>
            </div>

            <ul class="navbar-nav nav-item ">
                @*@if (Session["CustomerUserName"] != null)
                {
                    <li><a class="nav-link" href="/CustomerInfo/Details?id=@Session["id"]" id="NavText">@Session["CustomerUserName"].ToString()</a></li>
                    <li><a href="/CustomerAuthentication/LogOut" class="nav-link" id="NavText">LogOut</a></li>
                }*@
                @if (User.Identity.IsAuthenticated)
                {
                     <li><a class="nav-link" href="/CustomerInfo/Details?id=@Session["id"]" id="NavText">@User.Identity.Name</a></li>
                    <li><a href="/CustomerAuthentication/LogOut" class="nav-link" id="NavText">LogOut</a></li>
                }
            </ul>
        </nav>
    <div class="container body-content">
        @RenderBody()   
    </div>
    </div> 
    <footer>
        <p>&copy; @DateTime.Now.Year - MyDeal</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
